<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>$if(title-prefix)$$title-prefix$ - $endif$$if(pagetitle)$$pagetitle$$endif$</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="generator" content="pandoc" />
$for(author)$
  <meta name="author" content="$author$" />
$endfor$
  <meta name="date" content="$date$" />
$if(highlighting)$
  <style type="text/css">
    table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }
    td.lineNumbers { border-right: 1px solid #AAAAAA; text-align: right; color: #AAAAAA; padding-right: 5px; padding-left: 5px; }
    td.sourceCode { padding-left: 5px; }
    pre.sourceCode { }
    pre.sourceCode span.Normal { }
    pre.sourceCode span.Keyword { color: #007020; font-weight: bold; } 
    pre.sourceCode span.DataType { color: #902000; }
    pre.sourceCode span.DecVal { color: #40a070; }
    pre.sourceCode span.BaseN { color: #40a070; }
    pre.sourceCode span.Float { color: #40a070; }
    pre.sourceCode span.Char { color: #4070a0; }
    pre.sourceCode span.String { color: #4070a0; }
    pre.sourceCode span.Comment { color: #60a0b0; font-style: italic; }
    pre.sourceCode span.Others { color: #007020; }
    pre.sourceCode span.Alert { color: red; font-weight: bold; }
    pre.sourceCode span.Function { color: #06287e; }
    pre.sourceCode span.RegionMarker { }
    pre.sourceCode span.Error { color: red; font-weight: bold; }
  </style>
$endif$

<!-- personal style options -->

	<style type="text/css">
		div[id="body_text"] {
			width: 61.8%;
			float: left;
		}

		#footer {
		
		}

		/* we will need to add abbr's automatically */
		abbr { letter-spacing: 0.1em }

		body {
			font-family : "Lib-Sans-R", serif;
		}
		
		
		
		p {
			text-align: left;
			
		}

		em {
			font-family : "Lib-Sans-I";
		}

		h1 {
			font-family : "Lib-Serif-R";
		}

		h1[class="title"] {
			font-size : 2.8em;
			color : #910A00;
			right: 85%;
		}

		h1[class="author"] {
			font-size : 1.8em;
		}

		h1[class="date"] {
			font-size : 1.3em;
		}

		h2 {
			font-family : "Lib-Serif-R"
		}

		div[class="title_section"] {
			padding-bottom : 4em; 
		}

		@font-face {
			font-family : "Lib-Serif-R";
			src : url(ttf/LiberationSerif-Regular.ttf) format("truetype");
		}

		@font-face {
			font-family : "Lib-Sans-R";
			src : url(ttf/LiberationSans-Regular.ttf) format("truetype");
		}

		@font-face {
			font-family : "Lib-Sans-I";
			src : url(ttf/LiberationSans-Italic.ttf) format("truetype");
		}
	</style>

<!-- end personal style segment -->

$for(css)$
  <link rel="stylesheet" href="$css$" type="text/css" />
$endfor$
$if(math)$
  $math$
$endif$
$for(header-includes)$
  $header-includes$
$endfor$
</head>
<body>
$if(title)$
<div class="title_page">
	<h1 class="title">$title$</h1>
	<h1 class="author">$author$</h1>
	<h1 class="date">$date$</h1>
</div>
$endif$
$for(include-before)$
$include-before$
$endfor$
$if(toc)$
$toc$
$endif$
<div id="body_text">
$body$
</div>
$for(include-after)$
$include-after$
$endfor$
</body>
</html>
